<div class="modal-header">
  <button data-dismiss="modal" class="close" type="button" ng-click="closeDialog()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
  <h4 id="myModalLabel" class="modal-title">{{ modalHeader}}</h4>
</div>
<div class="modal-body">
  {{ modalBodyText }}
</div>
<div class="modal-footer">
  <button data-dismiss="modal" ng-click="closeDialog()" class="btn btn-default" type="button">Close</button>
  <button class="btn btn-primary" ng-click="confirm(true)" type="button">Confirm</button>
</div>
