
<div ng-controller="NavbarCtrl">
    <nav class="navbar navbar-default navbar-static-top relative">
  <div>
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><div class="logo-div">

                                       </div></a>
        <div class="navbar-header-content">
            <div class="container-fluid">
                <div class="row height100">
                <div class="col-md-3 maxwidth255">
                    <select class="form-control select-primary no-focus">
                        <option>Routine Immunization Stock</option>
                        <option>Pharmaceutical Commodities</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-sm-3">
                           <a ng-click="toogleMenu()" id="menu-icon" title="Menu" class="height100">
                            <div class="fa fa-bars fa-2x search-icon padding-top-bottom-10"></div>
                           </a>
                        </div>
                        <div class="col-sm-9 text-right">
                            <!--<a href="#" title="Notifications" class="height100 relative">
                            <div class="fa fa-bell-o fa-2x header-icon padding-top-bottom-15"></div>
                                <div class="circle not-count">9+</div>
                           </a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#" title="Messages" class="height100 relative">
                            <div class="fa fa-envelope-o fa-2x header-icon padding-top-bottom-15"></div>
                            <div class="circle not-count">5</div>
                           </a>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3 height100">
                    <div class="container-fluid height100">
                        <div class="row height100">
                        <div class="col-md-8 height100 search-bg"> 
                            <input type="text" placeholder="search..." class="form-control height100 no-focus"/>
                    
                        </div>
                        <div class="col-md-3 height100 search-btn-bg">
                            <a href="#" class="height100 centralize">
                        <div class="fa fa-search fa-2x search-icon"></div>
                    </a>
                        </div>
                    </div>
                    </div>
                    
                </div>
                <div class="col-md-3 height100 pull-right">
                    <div class="container-fluid height100">
                        <div class="row height100">
                        <div class="col-md-7">
                           <span ng-show="isLoggedIn()" class="header-username color-bg-font pull-right">{{ getCurrentUser().name }}</span>
                        </div>
                        <div class="col-md-3" ng-show="isLoggedIn()">
                           <div class="profile-pic circle"></div>
                        </div>
                         <a href="/login" class="height100"><div class="col-sm-2 height100 search-btn-bg"  ng-hide="isLoggedIn()">
                            <div class="text-center color-header-font padding-top-bottom-5">Login</div>
                        </div></a>
                        <div class="col-md-2 height100 search-btn-bg" ng-show="isLoggedIn()">
                            <a href="#" class="height100 centralize" ng-click="logout()">
                           <div class="fa fa-power-off logout-icon fa-2x header-icon" title="log out"></div>
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
            
        </div>
        
    </div>
      
      
  </div>
</nav>
<div id="sub-menu-div" class="navbar navbar-default">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="header">REPORTS</div>
                        <div class="links">
                            <ul ng-show="isLoggedIn()" class="nav navbar-nav">
                                <li ng-class="{active: isActive('/')}"><a href="/">Overview</a></li>
                                <li ng-class="{active: isActive('/inventory')}">
                                    <a href="/inventory">Inventory</a>
                                </li>
                                <li ng-class="{active: isActive('/ccu-breakdown')}">
                                    <a href="/ccu-breakdown">CCU Breakdown</a>
                                </li>
                                <li ng-class="{active: isActive('/stock-count')}">
                                    <a href="/stock-count">Stock Count</a>
                                </li>
                                <li ng-class="{active: isActive('/waste-count')}">
                                    <a href="/waste-count">Waste Count</a>
                                </li>
                                <li ng-class="{active: isActive('/stock-out')}">
                                    <a href="/stock-out">Stock Out</a>
                                </li>
                                
                                <li ng-class="{active: isActive('/facilities')}">
                                    <a href="/facilities">Facilities</a>
                                </li>
                                <li ng-class="{active: isActive('/ledger')}">
                                    <a href="/ledger">Ledger</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 mid-div">
                        <div class="header">SUPPLY PLANNING</div>
                        <div class="links">
                            <ul ng-show="isLoggedIn()" class="nav navbar-nav">
                                <li ng-class="{active: isActive('/vendor-management')}">
                                    <a href="/vendor-management">Vendor Management</a>
                                </li>
                                <li ng-class="{active: isActive('/stock-allocation')}">
                                    <a href="/stock-allocation">Stock Allocation</a>
                                </li>
                                <li ng-class="{active: isActive('/vendor-management')}">
                                    <a href="/vendor-management">Vendor Assigments</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="header">SETTINGS</div>
                        <div class="links">
                            <ul ng-show="isLoggedIn()" class="nav navbar-nav">
                                <li>
                                    <a href="#">Users</a>
                                </li>
                                <li>
                                    <a href="#">CCU</a>
                                </li>
                                <li>
                                    <a href="#">Facility Information</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bottom-handle" ng-click="toogleMenu()">
                    <div class="fa fa-angle-up" title="Close Menu" id="menu-icon-collapse"></div>
                    <div class="fa fa-angle-down" title="Open Menu" id="menu-icon-expand"></div>
                </div>
            </div>
</div>
