<nav class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><div class="logo-div">

                                       </div></a>
        <div class="navbar-header-content">
            <div class="row height100">
                <div class="col-sm-2">
                    <select class="form-control select-primary no-focus">
                        <option>Routine Immunization Stock</option>
                        <option>Pharmaceutical Commodities</option>
                    </select>
                </div>
                <div class="col-sm-5"></div>
                <div class="col-sm-2 height100">
                    <div class="row height100">
                        <div class="col-sm-9 height100 search-bg"> 
                            <input type="text" placeholder="search..." class="form-control height100 no-focus"/>
                    
                        </div>
                        <div class="col-sm-2 height100 search-btn-bg">
                            <a href="#" class="height100">
                        <div class="fa fa-search fa-2x search-icon"></div>
                    </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 height100">
                    <div class="row height100">
                        <div class="col-sm-9">
                           <span class="header-username color-bg-font pull-right">Oluwatosin Oyemeze</span>
                        </div>
                        <div class="col-sm-2">
                           <div class="profile-pic circle"></div>
                        </div>
                        <div class="col-sm-1 height100 search-btn-bg"><a href="#" class="height100">
                           <div class="fa fa-power-off logout-icon fa-2x" title="log out"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
      
  </div>
</nav>

<div ng-controller="NavbarCtrl">
  <div class="col-xs-12 clearfix">
    <div class="pull-right page-status" ng-show="isLoggedIn()">
      <strong>Last Updated: </strong> <span>{{ lastUpdated }}</span>
      <a title="Reload Page" class="btn btn-primary refresh-btn" ng-click="reloadPage()">
        <i class="fa fa-refresh"></i>
      </a>
    </div>
  </div>
</div>