<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header text-center">Stock Count</h2>
    
<div class="hide">
    <alert ng-hide="filteredRows.length" type="info">No data.</alert>
</div>
    <div>
    <div class="container-fluid">
      <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-md-3">
                      <span>
                        <!-- Tabs -->
                       <ul class="nav panel-tabs">
                        <li class="active" ng-click="tabview(true)"><a><i class="fa fa-bar-chart"></i></a></li>
                        <li class="text-center" ng-click="tabview(false)"><a><i class="fa fa-table"></i></a></li>
                       </ul>
                      </span>
                    </div>
                    <div class="col-md-6 text-center">
                        <h3>Stock Sufficiency Levels</h3>
                    </div>
                    <div class="col-md-3 text-right">
                      <div class="btn btn-export">
                        <span>
                          <i class="fa fa-cloud-download icon-left"></i>
                          Export
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-body"> 
                  <div class="tab-content">
                    <div class="tab-pane" id="tab1" ng-class="{'active' : chartTab === true}">
                        <span>
                        <ul class="pill-filter text-center" >
                          <li class="btn btn-filter green"> Sufficient (25)</li>
                          <li class="btn btn-filter yellow">1-2 below minimum (40) </li>
                          <li class="btn btn-filter red">> 3 below minimum (62) </li>
                        </ul>
                      </span>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                                <div id="summaryChart">
                                                    <nvd3 options="summaryOptions" data="summaryData"></nvd3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-1">
                                                </div>
                                                <div class="col-sm-5">
                                                    <div ng-repeat="lga in lgas1">
                                                        <div>
                                                            <nvd3 options="minOptions" data="lga.data"></nvd3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1">
                                                </div>
                                                <div class="col-sm-5">
                                                    <div ng-repeat="lga in lgas2">
                                                        <div>
                                                            <nvd3 options="minOptions" data="lga.data"></nvd3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                            </div>
                        
                    </div>
                    <div class="tab-pane" id="tab2" ng-class="{'active' : chartTab === false}">
                      
                      <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-xs-2">
                              <h6>
                                <div class="input-group">
                                  <input type="checkbox" aria-label="...">
                                </div>
                              </h6>
                            </div>
                          </div>
                          </div>
                        </div>
                      <div class="row">
                      <div class="col-xs-12">
                        <div class="panel panel-default">
                          <div class="panel-heading status-red-head" role="button">
                            <div class="row">
                              <div class="col-sm-1">
                                <h6>
                                <div class="input-group">
                                  <input type="checkbox" aria-label="...">
                                </div>
                                </h6>
                              </div>
                              <div class="col-sm-3">
                                <h6>Kura General Hospital</h6>
                              </div>
                              <div class="col-sm-4">
                                <h6>3 products below minimum</h6>
                              </div>
                              <div class="col-xs-8 col-sm-3">
                                <h6>Last Count: 15/08/2016</h6>
                              </div>
                              <div class="col-xs-2 col-sm-1">
                                <a href="#"><h6><i class="fa fa-ellipsis-h turquoise"></i></h6></a>
                              </div>
                            </div>
                          </div>
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th class="sub-list">Product</th>
                                  <th class="sub-list">Stock Count</th>
                                  <th class="sub-list">UoM</th>
                                  <th class="sub-list">Max level</th>
                                  <th class="sub-list">Min level</th>
                                  <th class="sub-list">Reorder level</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="status-red">
                                  <td> IPV </td>
                                  <td> 15 </td>
                                  <td> doses </td>
                                  <td> 120 </td>
                                  <td> 0 </td>
                                  <td> 20 </td>
                                </tr>
                                <tr class="status-red">
                                  <td> Phytomenadione </td>
                                  <td> 0 </td>
                                  <td> units </td>
                                  <td> 50 </td>
                                  <td> 2 </td>
                                  <td> 5 </td>
                                </tr>
                                <tr class="status-yellow">
                                  <td>Hep B</td>
                                  <td> 72 </td>
                                  <td> doses </td>
                                  <td> 240 </td>
                                  <td> 40 </td>
                                  <td> 10 </td>
                                </tr>
                                <tr>
                                  <td class="status-red">Measles</td>
                                  <td> 10 </td>
                                  <td> doses </td>
                                  <td> 100 </td>
                                  <td> 0 </td>
                                  <td> 10 </td>
                                </tr>
                                <!-- <tr>
                                  <td>SB 2.5l</td>
                                  <td> 1 </td>
                                  <td> unit </td>
                                  <td> 100 </td>
                                  <td> 0 </td>
                                  <td> 10 </td>
                                </tr>
                                <tr>
                                  <td>ADS 0.05L</td>
                                  <td> 3 </td>
                                  <td> units </td>
                                  <td> 100 </td>
                                  <td> 0 </td>
                                  <td> 10 </td>
                                </tr> -->
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-12">
                        <div class="panel panel-default">
                          <div class="panel-heading status-green-head">
                            <div class="row">
                              <div class="col-sm-1">
                                <h6>
                                <div class="input-group">
                                  <input type="checkbox" aria-label="...">
                                </div>
                                </h6>
                              </div>
                              <div class="col-sm-3">
                                <h6>Ginsawa Health Post</h6>
                              </div>
                              <div class="col-sm-4">
                                <h6>0 products below minimum</h6>
                              </div>
                              <div class="col-xs-10 col-sm-3">
                                <h6>Last Count: 11/08/2016</h6>
                              </div>
                              <div class="col-xs-2 col-sm-1">
                                <a href="#"><h6><i class="fa fa-ellipsis-h turquoise"></i></h6></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- </div> -->

                      <!-- <div class="row"> -->
                        <div class="col-xs-12">
                          <div class="panel panel-default">
                            <div class="panel-heading status-green-head">
                              <div class="row">
                                <div class="col-sm-1">
                                  <h6>
                                  <div class="input-group">
                                    <input type="checkbox" aria-label="...">
                                  </div>
                                  </h6>
                                </div>
                                <div class="col-sm-3">
                                  <h6> BHC Bantaje </h6>
                                </div>
                                <div class="col-sm-4">
                                  <h6>0 products below minimum</h6>
                                </div>
                                <div class="col-xs-10 col-sm-3">
                                  <h6>Last Count: 07/08/2016</h6>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                  <a href="#"><h6><i class="fa fa-ellipsis-h turquoise"></i></h6></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-xs-12">
                          <div class="panel panel-default">
                            <div class="panel-heading status-yellow-head">
                              <div class="row">
                                <div class="col-sm-1">
                                  <h6>
                                  <div class="input-group">
                                    <input type="checkbox" aria-label="...">
                                  </div>
                                  </h6>
                                </div>
                                <div class="col-sm-3">
                                  <h6>Dukawa Primary Health Center</h6>
                                </div>
                                <div class="col-sm-4">
                                  <h6>0 products below minimum</h6>
                                </div>
                                <div class="col-xs-10 col-sm-3">
                                  <h6>Last Count: 02/08/2016</h6>
                                </div>
                                <div class="col-xs-1">
                                  <h6><i class="fa fa-ellipsis-h turquoise"></i></h6>
                                </div>
                              </div>
                            </div>

                            <div class="table-responsive">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th class="sub-list">Product</th>
                                    <th class="sub-list">Stock Count</th>
                                    <th class="sub-list">UoM</th>
                                    <th class="sub-list">Max level</th>
                                    <th class="sub-list">Min level</th>
                                    <th class="sub-list">Reorder level</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr class="status-yellow">
                                    <td> IPV </td>
                                    <td> 15 </td>
                                    <td> doses </td>
                                    <td> 60 </td>
                                    <td> 10 </td>
                                    <td> 15 </td>
                                  </tr>
                                  <tr>
                                    <td class="status-yellow"> Phytomenadione </td>
                                    <td> 9 </td>
                                    <td> units </td>
                                    <td> 30 </td>
                                    <td> 3 </td>
                                    <td> 15 </td>
                                  </tr>
                                  <!-- <tr>
                                    <td>Hep B</td>
                                    <td> 72 </td>
                                    <td> doses </td>
                                  </tr> -->
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>

                        <div class="col-xs-12">
                          <div class="panel panel-default">
                            <div class="panel-heading status-green-head">
                              <div class="row">
                                <div class="col-sm-1">
                                  <h6>
                                  <div class="input-group">
                                    <input type="checkbox" aria-label="...">
                                  </div>
                                  </h6>
                                </div>
                                <div class="col-sm-3">
                                  <h6> Tiga General Hospital </h6>
                                </div>
                                <div class="col-sm-4">
                                  <h6>0 products below minimum</h6>
                                </div>
                                <div class="col-xs-10 col-sm-3">
                                  <h6>Last Count: 01/08/2016</h6>
                                </div>
                                <div class="col-xs-2 col-sm-1">
                                  <h6><i class="fa fa-ellipsis-h turquoise"></i></h6>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- </div> -->
                      <!-- End of test -->
                      <div class="row text-left">
                        <div class="col-sm-6 fake-footer">
                          <ul class="pagination">
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-6 fake-footer text-right">
                          <h6 class="grey"> VIEW ALL </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
              </div>
  </div>
</div>

